*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-color: black;
    

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    color: aliceblue;
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a{
    padding: .5rem;
}
.galeria{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    
    font-family: Arial;
    color:white;
    
}

h2{
    padding: 1rem;
}


p{
    color:white;
    padding: 2rem;
    font-size: 16px;
}

#frame{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_padrao {
    padding: 2rem;
    width: 450px;
    height: 350px;
    
    
}

footer{
    width: 100%;
}
footer img{
    width: 100%;
    height: 300px;
}


.embed{
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;

}